server:
  port: 10001
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:10001/eureka/
security:
  basic:
    enabled: true
  user:
    name: root
    password: 666666
